# The base URL of the Nighttune API backend.
NEXT_PUBLIC_BACKEND_BASE_URL="https://api.nighttune.local"

# Captcha settings.
# If you don't need the captcha servive, remove all variables
# starting with 'NEXT_PUBLIC_CAPTCHA_' to disable it.

# captcha server host URL
NEXT_PUBLIC_CAPTCHA_BASE_URL="https://captcha.nighttune.local"

# captcha site key
NEXT_PUBLIC_CAPTCHA_SITEKEY="f6ad2ded1f"

# The Nighttune frontend version. Used for display and data migrations.
NEXT_PUBLIC_NT_VERSION=2.6.2-local

# The URL to the Nighttune repo bugs overview. If an issue arises that 
# might be 'bug worthy', a link to this URL is displayed.
NEXT_PUBLIC_NT_BUGS_OVERVIEW="https://github.com/houthacker/nighttune/issues?q=is%3Aissue+state%3Aopen+label%3Abug"

# Prevent server action errors; see https://nextjs.org/docs/messages/failed-to-find-server-action
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY="nsN943DAtAcpupWg9VSqXyknjXwt3Dy+iRR9CvwVHGc="

# Distributed tracing settings.
# If you don't need distributed tracing, remove the veriable below to disable it.

# OTLP endpoint for distributed logs
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_LOGS_ENDPOINT='https://openobserve.nighttune.local/v1/logs'