NEXT_PUBLIC_BACKEND_BASE_URL="https://api.nighttune.local"
NEXT_PUBLIC_CAPTCHA_BASE_URL="https://captcha.nighttune.local"
NEXT_PUBLIC_CAPTCHA_SITEKEY="f6ad2ded1f"
NEXT_PUBLIC_NT_VERSION=2.6.2-local
NEXT_PUBLIC_NT_BUGS_OVERVIEW="https://github.com/houthacker/nighttune/issues?q=is%3Aissue+state%3Aopen+label%3Abug"
NEXT_PUBLIC_DEPLOY_ENV="production"
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_LOGS_ENDPOINT='https://openobserve.nighttune.local/v1/logs'
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT='https://openobserve.nighttune.local/v1/logs'