NEXT_PUBLIC_BACKEND_BASE_URL=_NEXT_PUBLIC_BACKEND_BASE_URL_
NEXT_PUBLIC_CAPTCHA_BASE_URL=_NEXT_PUBLIC_CAPTCHA_BASE_URL_
NEXT_PUBLIC_CAPTCHA_SITEKEY=_NEXT_PUBLIC_CAPTCHA_SITEKEY_
NEXT_PUBLIC_NT_VERSION=_NEXT_PUBLIC_NT_VERSION_
NEXT_PUBLIC_NT_BUGS_OVERVIEW=_NEXT_PUBLIC_NT_BUGS_OVERVIEW_
NEXT_PUBLIC_DEPLOY_ENV=_NEXT_PUBLIC_DEPLOY_ENV_
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=_NEXT_SERVER_ACTIONS_ENCRYPTION_KEY_
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=_NEXT_PUBLIC_OTEL_EXPORTER_OTLP_LOGS_ENDPOINT_